<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>Navigation</span>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/employees">
              <i class="glyphicon glyphicon-import icon text-info-lter"></i>
              <span class="font-bold">Employees</span>
            </a>
          </li>
          <li class="line dk"></li>
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>Your Stuff</span>
          </li>
          <li>
            <a>
              <i class="icon-user icon text-success-lter"></i>
              <span>Profile</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- nav -->
    </div>
  </div>
</aside>
