/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row:nth-child(even){
  background-color: #e4f0ec;
}

.mat-row:nth-child(odd){
  background-color:#ffffff;
}

.noDataRow {
  height: 40px;
  border: 0px !important;
}

.noDataRow td {
  padding: 0 16px 0 16px;
}
